{% extends "base.html" %}
{% block title %}changed{% endblock %}

{% block content %}
<h1 align="center" class="text-4xl">Notes</h1>
<br/>
{% if user.notes %}
<ul class="flow-root rounded-lg border border-gray-100 py-3 shadow-sm">
    {% for note in user.notes %}
       <li class=" pl-1 hover:bg-gray-900 hover:text-white flex justify-between h-12 items-center">{{note.data}} <a href="/delete/{{note.id}}" class="border p-2 bg-blue-500 mr-3">X</a></li> 
    {% endfor %}
</ul>
{% endif %}
<form method="post">
    <label for="note" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Notes</label>
    <textarea rows="4" class="block p-2.5 w-full text-sm text-black bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..." name="note"></textarea>
    <button class="mt-4 group relative inline-block text-sm font-medium text-indigo-600 focus:outline-none focus:ring active:text-indigo-500" type="submit"><span class="absolute inset-0 translate-x-0.5 translate-y-0.5 bg-indigo-600 transition-transform group-hover:translate-y-0 group-hover:translate-x-0"></span><span class="relative block border border-current bg-white px-8 py-3">Add Notes</span></button>
</form>

{% endblock %}